@import "@/styles/coloursAnt.sass"    

p 
    font-family: "Arvo", sans-serif
    font-size: 14px
    color: $green-5

li
    font-family: "Arvo", sans-serif
    font-size: 14px
    color: $green-5

b 
    color: $green-7   
a
    text-decoration: none
    color: $blue-7 
            
    &:link 
        color: $blue-7 
        text-decoration: none

    &:visited 
        color: $blue-8
    
    &:hover
        color: $blue-10
    
    &:active 
        color: $yellow-10
