@import "@/styles/colours_ant.sass"    

p 
    font-family: "Arvo", sans-serif
    font-size: 14px
    color: $green-5

li
    font-family: "Arvo", sans-serif
    font-size: 14px
    color: $green-5

a
    text-decoration: none
    &:link 
        color: $green-10
        text-decoration: none

    &:visited 
        color: $green-8
    
    &:hover
        color: $red-8
    
    &:active 
        color: $yellow-8
